<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tempest</title>
    {% extends "header.html" %}
    {% block head %}
    {{ super() }}
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="jumbotron col-md-10 col-md-offset-1">
        <h1>About Me</h1>
        <p class="col-md-offset-2 col-md-6">
        I am a software engineer. This is my dabble in web development with Flask.
        The site uses Javascript, JQuery, HTML5, CSS3. I primarily take interest in
        Java, Python, and perhaps C++ if need be. I enjoy savory meals and a cold brew
        on occasion. I play Playstation, know some guitar, and have a minute thrill
        for spontaneity. If you would like to reach me, please use the website.<i class="fa fa-github"></i></p>
    </div>
    {% endblock %}
</body>
</html>