<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://use.fontawesome.com/daaa814722.js"></script>

    <meta charset="UTF-8">
    <title>Tempest</title>
    {% extends "header.html" %}
    {% block head %}
    {{ super() }}
    {% endblock %}
</head>
<body>
    {% block content %}
        <div id="jumbo-box" class="col-sm-offset-1 col-sm-10 jumbotron white-bg">
            <h1>Robust</h1>
            <div class="col-sm-offset-10">
                <h2>Plainly better</h2>
            </div>

    </div>
    {% endblock %}
</body>
</html>