<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="/static/generic_full.css">
<script src="https://www.w3schools.com/lib/w3.js"></script>
<!--<link rel="stylesheet" media="(min-width: 760px)" href="/static/generic.css">-->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<head>
    <meta charset="UTF-8">

    <h1>ok</h1>
</head>
<body>
<div w3-include-html="/header.html"></div>
<script>
    w3.includeHTML();
</script>

</body>
</html>